{% extends 'base.html' %}

{% block title %}
<title>Список Профессий</title>
{% endblock %}

{% block body %}
<h2>Список профессий</h2>
<{{ type_list }}>
        {% set prof = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
    'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог',
    'гляциолог', 'инженер жизнеобеспечения', 'метеоролог', 'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов']
     %}
        {% for item in prof %}
            <li>
                {{ item }}
            </li>
            {% endfor %}
</{{ type_list }}>
{% endblock %}