{% extends 'base.html' %}

{% block title %}
<title>Оформление каюты</title>
{% endblock %}

{% block body %}
<h1 align="center">Оформление каюты</h1>
<table bgcolor="#808080" width="600" align="center">
    <tr>
       <td align="center">
           Цвет стен
       </td>
        <td align="center">
            Эмблема
        </td>
    </tr>
    <tr>
       <td bgcolor="{{ color }}" width="250">
       </td>
        <td align="center" bgcolor="#ffffff">
            <img src="{{ image }}" width="200">
        </td>
    </tr>
</table>
{% endblock %}